@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital@1&display=swap');

body {
  
  margin: 0;
  text-align: center;
  background: rgb(244, 244, 244);
  color: rgb(39, 12, 12);
  text-shadow: 1px 1px 2px rgb(7, 7, 27);
  
}